<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brid.azis.vipgame">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".test.Singleton.CurrentPlayer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".test.Activity.MainMenu"
            android:label="Menu Utama">


        </activity>
        <activity android:name=".test.Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="ext"
                    android:pathPrefix="/brid.com:vipgame"
                    android:scheme="vnd.android.nfc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.Activity.InsertDbTest"
            android:label="Testing Memasukkan Database Kartu" />
        <activity
            android:name=".test.Activity.CardsFinished"
            android:label="Misi Selesai" />
        <activity
            android:name=".test.Activity.CardsUnfinished"
            android:label="Misi Aktif" />
        <activity
            android:name=".test.Activity.PlayerLogin"
            android:label="Halaman Masuk" />
        <activity android:name=".test.Activity.PlayerRegister"
            android:label="Halaman Pendaftaran"></activity>
    </application>

</manifest>